// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-pikachu: #FFDE00;
    --ion-color-pikachu-rgb: 255, 222, 0;
    --ion-color-pikachu-contrast: #fff;
    --ion-color-pikachu-contrast-rgb: 0, 0, 0;
    --ion-color-pikachu-shade: #e6c900;
    --ion-color-pikachu-tint: #ffea33;
}