ion-content {
  --background: var(--ion-color-pikachu-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  width: 50%;
  height: auto;
}

.card-title {
  text-align: center;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}