<app-header title="Pokemon Details"></app-header>

<ion-content [fullscreen]="true">
  <ion-button class="back-button" (click)="goBack()" fill="clear">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card *ngIf="Pokemon" class="main-card" [color]="getColor(Pokemon.color.name)">
          <img [src]="Pokemon.sprites.other.dream_world.front_default" alt="{{ Pokemon.name }} image" />
          <ion-card-header>
            <ion-card-title>{{ Pokemon.name }}</ion-card-title>
            <ion-card-subtitle>
              # {{ Pokemon.id }}
            </ion-card-subtitle>

          </ion-card-header>

          <ion-card-content>
            {{ Pokemon.flavor_text_entries[0].flavor_text}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card *ngIf="Pokemon" class="mini-card" [color]="getColor(Pokemon.color.name)">
          <ion-card-content>
            <img [src]="Pokemon.sprites.other.showdown.front_default" alt="{{ Pokemon.name }} image"
              class="center-content center-image" />
            <h2 class="center-content">Characteristics</h2>
            <p><strong>Height:</strong> {{ Pokemon.height }}</p>
            <p><strong>Weight:</strong> {{ Pokemon.weight }}</p>
            <p><strong>Base Happiness:</strong> {{ Pokemon.base_happiness }}</p>
            <p><strong>Capture Rate:</strong> {{ Pokemon.capture_rate }}</p>
            <p><strong>Generation:</strong> {{ Pokemon.generation.name }}</p>
            <p><strong>Types:</strong></p>
            <span *ngFor="let type of Pokemon.types;"> | {{ type.type.name }} | </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card *ngIf="Pokemon" class="mini-card" [color]="getColor(Pokemon.color.name)">
          <img [src]="Pokemon.sprites.other.showdown.front_shiny" alt="{{ Pokemon.name }} image"
            class="center-content center-image" />
          <ion-card-content>
            <h2 class="center-content">Statistics</h2>
            <p><strong>Experience:</strong> {{ Pokemon.base_experience }}</p>
            <p><strong>HP:</strong> {{ Pokemon.stats[0].base_stat }}</p>
            <p><strong>Attack:</strong> {{ Pokemon.stats[1].base_stat }}</p>
            <p><strong>Defense:</strong> {{ Pokemon.stats[2].base_stat }}</p>
            <p><strong>Speed:</strong> {{ Pokemon.stats[5].base_stat }}</p>
            <p><strong>Abilities:</strong></p>
            <span *ngFor="let ability of Pokemon.abilities;">
              | {{ ability.ability.name }} | </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>